<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Campus Virtual</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/src/css/styleViewMediasoup.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>
<body>

    <nav class="navbar justify-content-between">
        <div class="container">
            <a class="navbar-brand">Panel Administrador</a>
            <form id="formExit" class="form-inline" action="/logout" method="get">
              <a href="/rooms"><img id="roomButton" src="/src/imgs/home.png"></a>              
              <h3>Bienvenid@ <strong><%= user %></strong> &nbsp;&nbsp;</h3>
              <input type="image" id="exitButton" src="/src/imgs/exit.png" border="0" alt="submit" />
            </form>
        </div>
    </nav>

    <div class="container">
        <div id="root" class="hiddenScroll">

        </div>

    </div>
            <!---<div class="container">
                <div class="row">
                    <div class="col align-self-center">
                        <button type="button" class="btn btn-outline-dark">Crear</button>
                    </div>
                </div>
            </div>-->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/src/build/adminFinal.js"></script>




</body>
</html>
