<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Campus Virtual</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/src/css/styleViewMediasoup.css">

</head>
<body>
<div class="container">
    <nav class="navbar justify-content-between">

            <a class="navbar-brand">PFC - ULPGC</a>
            <form id="formExit" class="form-inline" action="/logout" method="get">
                <input id="userName" type="hidden" value="<%= user %>" />
                <input id="room" type="hidden" value="<%= room %>" />
                <input id="userType" type="hidden" value="<%= permission %>" />
                <h3>Bienvenid@ <strong><%= user %></strong> &nbsp;&nbsp;</h3>

                <input type="image" id="exitButton" src="/src/imgs/exit.png" border="0" alt="submit" />
            </form>

    </nav>
</div>
    <div class="container">
        <div class="row">
            <div id="videoCaptureDiv" class="col-md-6 col-lg-6">
                <!--<audio id="mediasoupAudio" autoplay></audio>-->
                <video id="mediasoupVideo" autoplay controls></video>
            </div>
            <div id="board" class="col-md-6 col-lg-6 align-item-center">

            </div>
        </div>
        <div class="row">

            <div id="chatBox1" class="col-md-8 col-lg-8">
                <div id="chatBox2" class="hiddenScroll">
                </div>
            </div>

            <div id="usersBox1" class="col-md-4 col-lg-4">
                <div id="usersBox" class="hiddenScroll">
                </div>
            </div>

        </div>
        <div id="divTools">
        </div>
        <!-- The Modal -->
        <div class="modal fade" id="srcPresentation">
            <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Añadir presentación en pdf</h4>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="input-group">
                                <div class="custom-file" id="customFile" lang="es">
                                    <input type="file" class="custom-file-input" id="inputFile" aria-describedby="fileHelp">
                                    <label class="custom-file-label" for="inputFile">
                                        Seleciona archivo...
                                    </label>
                                </div>
                                    <!--<input type="file" class="custom-file-input" id="file-input" />
                                    <label for="file-input" class="custom-file-label">Escoge archivo...</label>
                                </div>-->
                                <span class="input-group-btn">
                                    <button id="sendPresentation" class="btn btn-secondary" type="button">Enviar</button>
                                </span>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
            </div>
        </div>

    </div>
    <div id="audiosDiv">
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/src/pdf.js"></script>
    <script src="/src/build/roomsFinal.js"></script>




</body>
</html>
