<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Campus Virtual</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/src/css/styleViewMediasoup.css">

</head>
<body>

    <nav class="navbar justify-content-between">
        <div class="container">
            <a class="navbar-brand">PFC - ULPGC</a>
            <form id="formExit" class="form-inline" action="/logout" method="get">
                <input id="userName" type="hidden" value="<%= user %>" />
                <input id="room" type="hidden" value="<%= room %>" />
                <input id="userType" type="hidden" value="<%= permission %>" />
                <h3>Bienvenid@ <strong><%= user %></strong> &nbsp;&nbsp;</h3>

                <input type="image" id="exitButton" src="/src/imgs/exit.png" border="0" alt="submit" />
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div id="videoCapture" class="col-md-6 col-lg-6">
                <!--<audio id="mediasoupAudio" autoplay></audio>-->
                <video id="mediasoupVideo" autoplay controls></video>
            </div>
            <div id="board" class="col-md-6 col-lg-6">

            </div>
        </div>
        <div class="row">

            <div id="chatBox1" class="col-md-8 col-lg-8">
                <div id="chatBox" class="hiddenScroll">
                </div>
            </div>

            <div id="usersBox1" class="col-md-4 col-lg-4">
                <div id="usersBox" class="hiddenScroll">
                </div>
            </div>

        </div>
        <div class="row">
            <div id="divInputChat" class="col-md-8 col-lg-8">
                <div class="input-group">
                    <input id="yourMessage" type="text" class="form-control" placeholder="Introduce texto a enviar...">
                    <span class="input-group-btn">
                        <button id="send" class="btn" type="button">Enviar</button>
                    </span>
                </div>
            </div>
            <div id="divLetTalk" class="col-md-4 col-lg-4 text-center">
                <button type="button" class="btn btn-outline-secondary">Permitir</button>
                <button id="presentation" type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#srcPresentation">Presentación</button>
            </div>
        </div>
        <!-- The Modal -->
        <div class="modal fade" id="srcPresentation">
            <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Añadir dirección presentación</h4>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="input-group">
                                <input id="urlPresentation" type="text" placeholder="Enlace de google slides...">
                                <span class="input-group-btn">
                                    <button id="sendPresentation" class="btn btn-secondary" type="button">Enviar</button>
                                </span>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
            </div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <script src="/src/build/roomsFinal.js"></script>




</body>
</html>
