<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Campus Virtual</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/css/styleViewMediasoup.css">

</head>
<body>
	<nav class="navbar justify-content-between">
		<div class="container">
			<a class="navbar-brand">PFC - ULPGC</a>
			<form class="form-inline" action="/logout" method="get">
		  		<!--<input id="nickLabel" class="form-control mr-sm-2" type="search" placeholder="Introducir nombre..." aria-label="Search">
		    	<button id="botonNick" class="btn btn-outline-info my-2 my-sm-0" type="button">Aceptar</button>-->
		    	<input id="subjects" type="hidden" value="<%= userJSON %>" />
		    	<input id="userType" type="hidden" value="<%= permission %>" />
		    	<h3>Bienvenid@ <strong><%= user %></strong> &nbsp;&nbsp;</h3>
		    	<input type="image" id="exitButton" src="/src/imgs/exit.png" border="0" alt="submit" />
		  	</form>
		</div>
	</nav>
	<div class="container">
		<div id="root">

		</div>
		</table>
	</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script src="src/build/roomsFinal2.js"></script>
	<script src="src/build/bundleRooms.js"></script>

</body>
</html>
