<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Campus Virtual</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<style type="text/css">
		.wrapper {
			margin-top: 80px;
			margin-bottom: 20px;
		}

		.form-signin {
		  max-width: 420px;
		  padding: 30px 38px 66px;
		  margin: 0 auto;
		  background-color: #eee;
		  border: 3px dotted rgba(0,0,0,0.1);
		  }

		.form-signin-heading {
		  text-align:center;
		  margin-bottom: 30px;
		}

		.form-control {
		  position: relative;
		  font-size: 16px;
		  height: auto;
		  padding: 10px;
		}

		.colorH {
			color: #808080;
		}
	</style>

</head>
<body>

	<div class = "container">
		<div class="wrapper">
			<form action="/registro" method="post" name="Login_Form" class="form-signin">
			    <h3 class="form-signin-heading colorH">PFC</h3>
			    <h4 class="form-signin-heading">ULPGC</h4>
					<hr class="colorgraph"><br>
					<input id="mensajeServidor" type="hidden" value="<%= JSON.stringify(message) %>" />
					<div id="alertMsg" class="alert alert-primary" role="alert">

					</div>
					<input type="text" class="form-control" name="user" placeholder="Usuario" required="" autofocus="" />
					<input type="email" class="form-control" name="email" placeholder="Correo electrónico" required="" autofocus="" />
					<input type="password" class="form-control" name="pass" placeholder="Contraseña" required=""/>
					<input type="password" class="form-control" name="passConf" placeholder="Repetir contraseña" required=""/>

					<button class="btn btn-lg btn-outline-dark btn-block"  name="Submit" value="Login" type="Submit">Registrar</button>
					<br>
					<br>
					<blockquote class="blockquote text-center">
					<p>Si tienes cuenta identifícate <a href="/" class="badge badge-light">aquí.</a></p>
			</form>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script>
		$(document).ready(function() {
			var mensaje = $("#mensajeServidor").val();
			mensaje = mensaje.slice(1, mensaje.length - 1);
			if(mensaje.length > 1) {
				$("#alertMsg").append(mensaje);
				$("#alertMsg").show();
			}
			else {
				$("#alertMsg").hide();
			}
		});
	</script>
</body>
</html>
