.scrollable {
    overflow: auto;
    padding: 0px;
    margin: 0px;
    height: 300px;
    width: 100%;
}

.hiddenScroll {
    overflow: hidden;
    border: 1px solid #F5F5F5;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.noMargin {
    padding:0px;
    margin:0px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.noMarginRow {
    padding:0px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
}

.row {
    margin-right: 15px;
    margin-left: 15px;
}



#chatBox1 {
    padding: 0px;
    margin: 0px;
}

#usersBox1 {
    padding: 0px;
    margin: 0px;
}

#divInputChat {
    padding: 0px;
    margin: 0px;
}

#divTools {
    padding: 0px;
    margin: 0px;
    /*margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #F5F5F5;*/
}

#exitButton {
    height: 40px;
    width: 40px;
}

#exitButton:hover {
    cursor:pointer;
}

#videoCaptureDiv {
    padding: 0px;
    margin: 0px;
    border: 1px solid #F5F5F5;
}

#mediasoupVideo {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#board {
    padding: 0px;
    margin: 0px;
    border: 1px solid #F5F5F5;
}
